@keyframes spin-around {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -50;
    display: none;
  }
}

// Menu
@keyframes grow-full-bar {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes grow-sxt-bar {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 60%;
    opacity: 1;
  }
}
