:root {
  --main-bg-color: #181818;
  --site-width: 70%;
  --white: #fff;
  --gray: #686868;
  --dark-gray: #121212;
  --text-color: #fff;
  --main-font: 'Bellefair', serif;
  --text-font: 'Barlow Regular', sans-serif;
}
