:root {
  --site-width: 80%;
  --site-max-width: 1360px;
  --main-bg-color: #181818;
  --text-color: #fff;
  --gray: #686868;
  --dark-gray: #121212;
  --white: #fff;
  --main-font: 'Bellefair', serif;
  --text-font: 'Barlow Regular', sans-serif;
  --gutter: 3em;
  --text-line-height: 1.2;
}
