@font-face {
    font-family: 'Bellefair';
    src: url('./bellefair-regular-webfont.woff2') format('woff2'),
         url('./bellefair-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
